$color_white: #fff
$orange_color: #ffad40
$black_color: #0d0d0d
$burka_text: "18VAG Rounded M",sans-serif
body
  font-family: 'Montserrat', sans-serif
  background-image: url(../img/pattern.png)
  background-position: center center
  background-repeat: repeat
  position: relative
  min-height: 100vh
  cursor: default
  @include font-size(14px)
a
  text-decoration: none
  outline: 0
  background-color: transparent
@font-face
  font-family: "18VAG Rounded M"
  src: url("../fonts/18VAG_Rounded_M_Bold.ttf")
.header
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  z-index: 5
  padding: 30px 0
  color: $color_white
.header__container
  padding: 0 40px
  justify-content: flex-start
.header-logo, .header__container
  display: flex
  align-items: center
  flex-wrap: wrap
.header-logo
  justify-content: center
  margin-right: auto
.header-logo__logo
  display: block
  max-width: 75px
.header-logo__description
  @include font-size(14px)
  line-height: 20px
  margin-left: 15px
  color: $color_white
.header_fixed, .header_theme_white
  background-color: $orange_color
.header_fixed
  position: fixed
.header-menu
  margin-right: auto
.header-menu__list
  display: flex
  justify-content: center
  flex-wrap: wrap
.header-menu__list-item
  padding: 5px 15px
.header-menu__list-link
  color: #fff
  transition: .3s
.header-menu__list-link_active
  font-weight: 700
.header-socials
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
.header-socials_mobile
  margin-top: 15px
  display: none
.header-socials__title
  @include font-size(13px)
  line-height: 19px
  text-align: right
  margin-right: 15px
.header-socials__items
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
.header-socials__item
  width: 40px
  height: 40px
  border-radius: 100%
  margin: 0 5px
  position: relative
  transition: .3s
.header-socials__item_whatsapp:before
  top: 0
  height: 100%
  background-image: url(../img/whatsapp.png)
.header-socials__item_whatsapp
  background: linear-gradient(360deg,#1abc59 0%,#50d28e 100%)
  box-shadow: 0 10px 35px 0 rgba(40, 229, 115, 0.4)
.header-socials__item_vk:before
  top: 0
  margin-right: 5px
  height: 100%
  background-image: url(../img/vk.png)
.header-socials__item_vk
  background: linear-gradient(360deg,#4872a3 0%,#4a76a8 100%)
  box-shadow: 0 10px 35px 0 rgba(85, 134, 191, 0.4)
.header-socials__item_instagram:before
  top: 0
  height: 100%
  background-image: url(../img/instagram.png)
.header-socials__item_instagram
  background: linear-gradient(40deg,#fdbe4a 0%,#e03965 50%,#4d4dd1 100%)
  box-shadow: 0 10px 35px 0 rgba(169, 177, 218, 0.4)
.header-contacts_mobile
  margin: 20px auto 0
  display: none
.header-contacts
  margin-left: 30px
.header-contacts__call
  @include font-size(14px)
  line-height: 20px
  position: relative
  padding: 10px 20px
  text-align: center
  cursor: pointer
  color: $color_white
.header-contacts__call b
  @include font-size(19px)
.header-menu__open
  background-image: url(../img/menu.png)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 27px
  height: 27px
  margin-left: 15px
  display: none
.bg-after, .bg-before
  position: relative
  z-index: 1
.bg-after:after, .poem__container:before, .bg-before:before, .functions_items:before, .header-socials__item_whatsapp:before, .header-socials__item_vk:before, .header-socials__item_instagram:before, .video-promo__button-play:before, .advantage_item_1:before, .advantage_item_2:before, .advantage_item_3:before, .advantage_item_4:before
  content: ""
  position: absolute
  left: 0
  width: 100%
  background-position: center center
  background-repeat: no-repeat
.promo, .promo_decor
  background-position: center center
  background-repeat: no-repeat
.promo
  background-image: url(../img/bg.jpg)
  width: 100%
  padding-top: 100px
  height: 900px
  box-sizing: border-box
  background-size: cover
  position: relative
.container
  margin: 0 auto
  padding: 0 15px
  width: 100%
  max-width: 1200px
  box-sizing: border-box
.main_h1
  text-align: center
.promo-text__header
  padding: 115px 0 140px
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  flex-direction: column
.promo-text__heading
  color: $orange_color
  @include font-size(86px)
  font-family: $burka_text
.promo-text__second-heading
  @include font-size(63px)
  color: $color_white
  font-weight: 500
  line-height: calc(80px + 3*((100vw - 420px)/860))
.promo-text__heading-text
  text-align: center
  color: $color_white
.video-promo__view
  margin: 25px 0 0 0
  width: 170px
  height: 160px
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
.video-promo__button-play:before
  margin: 0 0 0 3px
  height: 100%
  background-image: url(../img/play-button.png)
.video-promo__button-play
  width: 80px
  height: 80px
  background: linear-gradient(to top,#ffa040 0%,#ffbf40 100%)
  box-shadow: 0 5px 30px 0 rgba(255, 214, 64, 0.48)
  border-radius: 100%
  position: relative
.video-promo__view-timelapse
  text-align: center
  @include font-size(10px)
  color: $color_white
.bg-after:before
  background-size: cover
  top: -1px
  right: 0
  z-index: -1
  transform: rotate(180deg)
  background-image: url(../img/bg-after.png)
  height: 99px
.bg-after:after
  background-size: cover
  bottom: -1px
  right: 0
  z-index: -1
  background-image: url(../img/bg-after.png)
  height: 99px
.functions
  padding: 60px 0
.header_section
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  flex-direction: column
.heading_section
  color: $orange_color
  @include font-size(50px)
  padding: 0 0 30px 0
  font-family: $burka_text
  text-align: center
.subtitle_section
  color: $black_color
  @include font-size(18px)
  padding: 0
  font-weight: 500
.functions_items
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding: 50px 0
.functions_items:before
  right: 0
  z-index: -1
  background-image: url(../img/advantage_bg.png)
  height: 355px
.functions_item
  padding: 0 40px
.button_container
  display: flex
  justify-content: center
  align-items: stretch
  flex-wrap: wrap
  margin: 30px 0
.button-container .button
  display: inline-block
.button
  font-family: $burka_text
  margin: 0
  border: 0
  outline: 0
  transition: .3s
  display: block
  position: relative
  text-align: center
  z-index: 1
  font-weight: 700
  cursor: pointer
  box-sizing: border-box
.button__blik
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border-radius: 10px
  overflow: hidden
.button__blik:after
  content: ""
  position: absolute
  top: -50%
  left: -50%
  right: -50%
  bottom: -50%
  z-index: 1
  background: linear-gradient(to bottom,rgba(229,172,142,0),rgba(255,255,255,.7) 50%,rgba(229,172,142,0))
  transform: rotateZ(60deg) translate(-5em,7.5em)
  animation: move-light 3s infinite
.errorMess
  text-align: center
  color: #fff
  margin-top: 10px
  background: #de202b
  border-radius: 5px
@keyframes move-light
  0%,79%
    opacity: 0
    filter: alpha(opacity=0)
    transform: rotateZ(60deg) translate(-5em,7.5em)
  80%
    opacity: 1
    filter: alpha(opacity=100)
    transform: rotateZ(60deg) translate(-5em,7.5em)
  95%
    opacity: 1
    filter: alpha(opacity=100)
    transform: rotateZ(60deg) translate(1em,-11em)
  to
    opacity: 0
    filter: alpha(opacity=0)
    transform: rotateZ(60deg) translate(1em,-9em)
.button_1
  @include font-size(25px)
  line-height: 32px
  text-transform: uppercase
  color: #fff
  border-radius: 10px
  padding: 20px 70px
.button_orange
  background: linear-gradient(to top, #ffa040, #ffbf40)
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.28), 0 10px 35px 0 rgba(255, 214, 64, 0.48), inset 0 2px 0 0 rgba(255, 214, 64, 0.48)
  border-bottom: 2px solid #ff952b
.button_container__content
  display: inline-block
  width: 145px
  position: relative
  margin-left: -5px
  font-family: $burka_text
.button_container__content:before
  content: ""
  position: absolute
  top: 1px
  left: -2px
  width: 100%
  height: calc(100% - 2px)
  border: 1px solid $orange_color
  border-bottom-right-radius: 5px
  border-top-right-radius: 5px
.button-container__old-price
  color: #ccc
  text-align: center
  @include font-size(20px)
  line-height: 21px
  text-decoration: line-through
  margin-top: 15px
.button-container__price
  color: $orange_color
  text-align: center
  @include font-size(25px)
  line-height: 24px
  font-weight: 700
  margin-top: 3px
.poem
  padding: 105px 0 0 0
.poem__container
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
.poem__container:before
  right: 0
  z-index: -1
  background-image: url(../img/poem_bg.png)
  height: 550px
.boy_on_horse__container
  position: absolute
  margin: -100px 0 0 -325px
.poem_text__container
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  flex-direction: column
  padding: 0 0 0 500px
  margin-bottom: 60px
.poem_header
  line-height: 24px
  font-family: $burka_text
  @include font-size(50px)
  color: $color_white
  text-align: center
.poem_text_items
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding: 30px 0 0 0
.poem_text_item
  color: $color_white
  font-family: $burka_text
  @include font-size(17px)
  font-weight: 500
.advantages
  padding: 250px 0 0 0
  position: relative
  z-index: 1
.advantages-container
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  margin-top: 50px
.advantages-container__col-left
  flex-basis: 300px
.advantages-container__col-center
  flex-basis: calc(100% - 700px)
.advantages-container__col-right
  flex-basis: 300px
.advantage_item
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  position: relative
  width: 300px
  height: 300px
  margin: 0 auto
  box-shadow: 0 5px 30px 0 rgba(255,165,51,.20)
  background-color: #ffffff
.advantage_item__bottom
  margin: 280px 0 0 0
.advantage-item__text
  color: $black_color
  line-height: 22px
  @include font-size(14px)
  text-align: center
  font-weight: 500
.advantage_item_1:before
  top: 300px
  left: 120px
  z-index: 1
  background-image: url(../img/advantage_arrow_1.png)
  height: 145px
  width: 325px
.advantage_item_2:before
  top: -65px
  left: 135px
  z-index: 1
  background-image: url(../img/advantage_arrow_2.png)
  height: 90px
  width: 380px
.advantage_item_3:before
  top: 325px
  left: -110px
  transform: rotate(-20deg)
  z-index: 1
  background-image: url(../img/advantage_arrow_3.png)
  height: 55px
  width: 245px
.advantage_item_4:before
  top: -145px
  left: -250px
  z-index: 1
  background-image: url(../img/advantage_arrow_4.png)
  height: 150px
  width: 395px
.photos
  padding: 90px 0 0 0
.photos-items
  display: grid
  grid-gap: 2px
  grid-template-columns: repeat(3,1fr)
  padding: 30px 0 0 0
.photos-item
  transition: .3s
.photos-item__picture
  padding-bottom: 67%
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
.video_full
  padding: 60px 0
  position: relative
  z-index: 1
.video_full-inner
  position: relative
  z-index: 1
  display: block
.video_full-inner__inner
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 11px 37.26px 16.74px rgba(22,20,89,.15)
  height: 500px
  max-width: 950px
  width: 100%
  margin: 0 auto
  padding: 0
.reviews_slider
  position: relative
  padding: 40px 0 0 55px
.slick-arrow
  position: absolute
  top: 50%
  z-index: 1
  font-size: 0
  margin: -20px 0 0 0
  border: 0
  width: 35px
  height: 34px
.slick-prev
  left: 0
  background: url(../img/arrow_prev.png) 0 0 no-repeat
.slick-next
  right: 0
  background: url(../img/arrow_next.png) 0 0 no-repeat
.slider__item img
  max-width: 100%
  width: 240px
  margin: 0 auto
.slick-dots li
  background: #e7e7e7
  height: 10px
  width: 10px
  margin: 0 5px
  cursor: pointer
  list-style: none
  border-radius: 100%
.slick-dots
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  width: 100%
  padding: 25px 0 0 0
.slider .slick-dots li.slick-active
  background: $orange_color
  opacity: 1
.slick-dots li button
  display: none
.buy
  background: linear-gradient(to top, #ffa440, #ffbd40, #ffc558)
  margin-top: 30px
  padding: 120px 0
  box-shadow: inset 22px 40px 108px 0 rgba(255, 148, 11, 1)
.buy__container
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap
.buy__col_left
  flex-basis: 620px
  overflow: hidden
.buy-slider
  padding: 0 2px
  box-sizing: border-box
.buy-nav, .buy-slider
  width: 100%
  overflow: hidden
.buy-nav-item, .buy-slider-item
  box-sizing: border-box
  border: 2px solid transparent
  border-radius: 10px
  overflow: hidden
.buy-nav-item__picture, .buy-slider-item__picture
  max-width: 100%
  max-height: 100%
  margin: 0 auto
.buy-advantages
  display: flex
  justify-content: space-around
  align-items: flex-start
  flex-wrap: wrap
  margin-top: 25px
.buy-advantages__item
  flex-basis: 270px
  padding: 0 15px
  box-sizing: border-box
  margin-top: 25px
.buy-advantages__item-icon-container
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  height: 50px
.buy-advantages__item-icon
  display: block
  max-width: 100%
  margin-top: -20px
.buy-advantages__item-title
  text-align: center
  color: $color_white
  margin-top: 15px
.buy__col_right
  flex-basis: calc(100% - 620px)
  padding-left: 40px
  box-sizing: border-box
.buy-inner
  border-radius: 10px
  background: linear-gradient(to top, #ffffff, #f4f4f4)
  padding: 40px
.title_1
  @include font-size(50px)
  line-height: calc(32px + 18*((100vw - 320px)/960))
.buy__title
  color: $orange_color
.buy__price_new
  @include font-size(40px)
  line-height: calc(30px + 16*((100vw - 320px)/960))
.title
  font-family: $burka_text
  text-transform: uppercase
.buy__prices
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  margin-top: 10px
.buy__price
  font-family: $burka_text
  font-weight: bold
  text-shadow: 0 10px 35px rgba(255,173,64,.3)
  color: $orange_color
  padding: 0 0 0 10px
.buy__price_old:before
  content: ""
  position: absolute
  width: 50px
  margin-top: 10px
  height: 2px
  background-color: $orange_color
.buy-colors
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  margin-top: 15px
.buy-colors__title
  color: $black_color
  @include font-size(18px)
  line-height: 24px
  margin-right: 15px
.buy-form__inner
  margin-top: 25px
.buy-colors__items
  display: flex
  justify-content: center
  align-items: center
.buy-colors__item_active
  background-color: $orange_color
.buy-colors__item
  width: 36px
  height: 36px
  margin: 0 2px
  position: relative
  border-radius: 5px
  cursor: pointer
  transition: .3s
.buy-colors__item:before
  content: ""
  position: absolute
  top: 3px
  left: 3px
  width: calc(100% - 6px)
  height: calc(100% - 6px)
  border-radius: 5px
.buy-colors__item_blue:before
  background: linear-gradient(180deg,#6bb9fa,#385ec8)
.buy-colors__item_pink:before
  background: linear-gradient(180deg,#f2ccd0,#e7abaa)
.buy-colors__item_white:before
  background: linear-gradient(180deg,#eef6eb,#d8e0d5)
.buy-form
  margin-top: 20px
.form__label
  display: block
  margin-bottom: 10px
  color: $orange_color
.form__input, .form__select, .form__textarea
  background: #ffbd40
  background-size: 15px
  background-position: 15px 48%
  margin: 0
  outline: 0
  border: 1px solid transparent
  width: 100%
  padding: 0 25px
  box-sizing: border-box
  border-radius: 5px
  color: #fff
  transition: .3s
.form__input
  background-repeat: no-repeat
  height: 75px
.form__input:active, .form__input:focus, .form__select:active, .form__select:focus, .form__textarea:active, .form__textarea:focus
  border: 4px solid #f3f3f3
.form__field+.form__field
  margin-top: 10px
.form__submit
  width: 100%
  padding-left: 10px!important
  padding-right: 10px!important
  margin-top: 20px
.form__policy
  display: flex
  justify-content: center
  margin-top: 15px
.form__radio
  position: absolute
  z-index: -1
  opacity: 0
  margin: 10px 0 0 7px
.form__radio+.form__radio-label
  position: relative
  padding: 0 0 0 25px
  cursor: pointer
  display: inline-block
  vertical-align: middle
  @include font-size(11px)
  line-height: 16px
.form__radio:checked+.form__radio-label:before
  border: 1px solid transparent
.form__radio+.form__radio-label:before
  content: ''
  background-color: $orange_color
  position: absolute
  top: 0
  left: 0
  width: 16px
  height: 16px
  box-sizing: border-box
  border-radius: 3px
  border: 1px solid red
.form__policy-text
  @include font-size(13px)
  line-height: 18px
  color: $orange_color
  margin-top: 0
  text-align: left!important
.form__policy-text span
  border-bottom: 1px solid
  transition: .3s
.form__radio:checked+.form__radio-label:after
  opacity: 1
.form__radio+.form__radio-label:after
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 16px
  height: 16px
  background: url(../img/checkbox.png)
  background-position: center center
  background-repeat: no-repeat
  background-size: 50%
  opacity: 0
  transition: .2s
.buy_or
  text-align: center
  margin-top: 20px
  color: $orange_color
  @include font-size(18px)
  text-transform: uppercase
  font-weight: 700
.popup
  padding: 0
  width: calc(100% - 30px)
  display: none
  position: relative
  z-index: 1
  border-radius: 5px
  box-sizing: border-box
  overflow: initial
  box-shadow: 0 47px 70px 0 rgba(109,144,171,.2)
  border: 4px solid $orange_color
.popup-policy
  max-width: 760px
  padding: 45px
  box-sizing: border-box
.popup__content
  padding: 40px
.popup-policy__text
  margin-top: 15px
.popup-policy__text p
  margin-top: 15px
  text-align: justify
.popup__title
  line-height: 60px
.present
  padding-top: 30px
  padding-bottom: 0
.present-container
  position: relative
  padding-top: 480px
.present__emoji
  background-image: url(../img/emoji_main.png)
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  width: 1125px
  height: 899px
  margin: 0 auto
  position: absolute
  top: 0
  left: -30px
  right: 0
.present-inner
  position: relative
  z-index: 1
  max-width: 820px
  width: 100%
  margin: 0 auto
.present-inner__content
  padding: 40px
  position: relative
  z-index: 1
.present-inner__content:before
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: linear-gradient(335deg,#ffa440,#ffbd40,#fff89f)
  border-radius: 10px
  z-index: -1
  box-shadow: 0 14px 24.15px 10.85px rgba(22,20,89,.18)
.present_title
  text-align: center
  color: $color_white
.present__b-title
  text-shadow: 0 10px 35px rgba(232,255,235,.3)
  text-align: center
  line-height: calc(35px + 55*((100vw - 320px)/960))
  @include font-size(70px)
  background: linear-gradient(180deg,#fff 20%,#fffaf1 70%)
  -webkit-text-fill-color: transparent
  -webkit-background-clip: text
  margin-top: -5px
.present__text
  text-align: center
  color: $color_white
.steps
  background: linear-gradient(to top, #ffa440, #ffbd40, #ffc558)
  margin-top: 230px
  padding: 140px 0
  box-shadow: inset 22px 40px 108px 0 rgba(255, 148, 11, 1)
.steps__title
  color: $color_white
  text-align: center
.steps-items
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(4,1fr)
  margin-top: 60px
.steps-item
  background: linear-gradient(280deg, #ffffff,#f2f2f2)
  border-radius: 10px
  text-align: center
  color: $orange_color
  padding: 20px 15px
.steps-item__number
  font-family: $burka_text
  text-shadow: 0 10px 35px rgba(232,255,235,.3)
  text-align: center
  background: linear-gradient(180deg,#fffecc 20%,#fbc253 70%)
  -webkit-text-fill-color: transparent
  -webkit-background-clip: text
  @include font-size(40px)
  line-height: 1
  margin-top: -40px
.steps-item__picture-container
  display: flex
  justify-content: center
  align-items: center
  height: 160px
.steps-item__title
  margin-top: 15px
  line-height: calc(28px + 4*((100vw - 320px)/960))
  @include font-size(22px)
.steps-item__description
  @include font-size(14px)
  line-height: 20px
  margin-top: 5px
.steps-item__button
  margin: 15px auto 0
  padding: 15px 40px
  color: $color_white
  text-transform: uppercase
.questions
  padding: 80px 0
  position: relative
  z-index: 1
.questions__container
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
.questions__col_left
  flex-basis: 570px
.questions__col_right
  flex-basis: 500px
.questions__items
  margin-top: 30px
  padding-top: 1px
.questions__item
  background-color: $color_white
  border-radius: 7px
  margin-top: 20px
  padding: 15px 20px
  box-sizing: border-box
  cursor: pointer
  box-shadow: 0 25px 24.15px 10.85px rgba(22,20,89,.07)
.questions__item-header
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  min-height: 46px
  position: relative
  padding-right: 50px
.questions__item-title
  @include font-size(18px)
  line-height: 24px
.questions__item-arrow
  background-image: url(../img/arrow_q.png)
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  width: 25px
  height: 25px
  border-radius: 100%
  display: block
  position: absolute
  top: 50%
  margin-top: -13px
  right: 0
  transition: .3s
.fancybox-close-small:after, .questions__item-body
  display: none
.questions__item-answer
  margin-top: 5px
.questions-inner
  border-radius: 10px
  border: 4px solid $orange_color
  padding: 40px
.form__title
  font-weight: 700
  line-height: calc(26px + -2*((100vw - 320px)/960))
  @include font-size(20px)
.form__description
  margin-top: 10px
.button_l
  padding: 23px 70px
  text-transform: uppercase
  color: $color_white
.footer
  background: linear-gradient(to top, #ffa440, #ffbd40, #ffc558)
  padding: 45px 0
  box-shadow: inset 22px 40px 108px 0 rgba(255, 148, 11, 1)
.bg-before__footer:after
  transform: rotate(180deg)
  top: 0
.footer__container
  padding: 55px 40px 0 40px
  justify-content: flex-start
.footer-logo, .footer__container
  display: flex
  align-items: center
  flex-wrap: wrap
.footer-logo
  justify-content: center
  margin-right: auto
.footer-logo__logo
  display: block
  max-width: 65px
.footer-logo__content
  margin-left: 15px
.footer-logo__description
  color: $color_white
.footer__policy
  @include font-size(14px)
  line-height: 20px
  border-bottom: 1px solid
  display: table
  color: $color_white
  transition: .3s
  cursor: pointer
.footer-developer
  display: flex
  flex-direction: column
  align-items: center
  flex-wrap: wrap
.footer-developer__link, .footer-developer__name
  @include font-size(14px)
  line-height: 20px
  color: $color_white
.footer-developer__link
  border-bottom: 1px solid transparent
  transition: .3s
  color: #de202b
.steps .container .slider .slick-dots li.slick-active
  background: #fff
.questions__item_opened .questions__item-arrow
  transform: rotate(-180deg)
.schema_need
  display: none
.footer__contacts
  display: flex
  justify-content: center
  align-items: center
  width: 50%
  text-align: center
  margin-right: auto
  color: $color_white
.footer__contacts-header
  margin-right: 15px
.questions__item-answer img
  display: inline-block
