@media only screen and (max-width: 1920px)
  .header-menu__list
    max-width: 500px
  .header-menu
    display: block
@media only screen and (max-width: 1540px)
  .header-menu__list
    max-width: 100%
    flex-direction: column
    align-items: center
    justify-content: center
  .header
    padding: 20px 0
  .header__container
    padding: 0 15px
  .header-menu
    background-color: #ffad40
    position: absolute
    top: 99%
    left: 0
    right: 0
    width: 100%
    padding-bottom: 20px
    display: none
  .header-menu__open
    display: block
  .footer__container
    padding: 0 15px
  .footer
    padding: 120px 0 40px 0
@media screen and (min-width: 1280px)
  body
    @include font-size(15px)
    line-height: 21px
  .title_1
    @include font-size(50px)
    line-height: 50px
  .promo-text__second-heading
    line-height: 160px
  .buy__price_new
    @include font-size(40px)
    line-height: 46px
  .form__label
    @include font-size(14px)
    line-height: 20px
  .form__input, .form__select, .form__textarea
    line-height: 26px
    @include font-size(18px)
  .present__b-title
    @include font-size(60px)
    line-height: 90px
  .steps-item__title
    @include font-size(24px)
    line-height: 32px
  .form__title_l
    @include font-size(24px)
    line-height: 32px
  .button_l
    @include font-size(24px)
    line-height: 32px
@media only screen and (max-width: 1200px)
  .container
    max-width: 1024px
  .present__emoji
    width: 1000px
    height: 795px
  .advantages-container__col-center img
    height: 300px
  .advantage_item_1:before
    left: 90px
  .advantage_item_2:before
    top: -76px
    left: 115px
    transform: rotate(-3deg)
  .advantage_item_3:before
    top: 330px
    left: -85px
    transform: rotate(-24deg)
  .advantage_item_4:before
    left: -205px
  .functions_item img
    height: 250px
  .boy_on_horse__container img
    height: 400px
    margin-left: 5px
    margin-top: 80px
  .poem__container:before
    background-size: contain
  .poem_text__container
    padding: 0 0 0 300px
  .buy__price_old:before
    margin-top: 6px
  .buy__col_left
    flex-basis: 500px
  .buy__col_right
    flex-basis: calc(100% - 500px)
    padding-left: 25px
  .buy-advantages__item
    flex-basis: 250px
  .steps-items
    grid-template-columns: repeat(2,1fr)
  .questions__title
    text-align: center
  .questions__container
    justify-content: center
  .questions__item
    margin-top: 15px
  .questions__col_right
    margin-top: 35px
  .present-container
    padding-top: 400px
@media screen and (min-width: 1200px)
  .header-logo__logo
    max-width: 65px
    margin: 0 0 10px 0
@media only screen and (max-width: 1023px)
  .header-socials_mobile
    display: flex
  .header-contacts_mobile
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
  .header-contacts__call
    padding: 10px
    left: -15px
  .header-socials_desktop
    display: none
  .header-contacts_desktop
    display: none
  .container
    max-width: 768px
  .present__emoji
    width: 700px
    height: 565px
  .advantage_item_1:before, .advantage_item_2:before, .advantage_item_3:before, .advantage_item_4:before
    display: none
  .functions_items:before
    display: none
  .boy_on_horse__container img
    height: 310px
    margin-left: 735px
    margin-top: 455px
  .poem_text__container
    padding: 0
  .poem_text_item
    @include font-size(14px)
    padding: 0 65px
  .advantages-container
    flex-direction: column
  .advantage_item__bottom
    margin: 0
  .advantage-item__text
    @include font-size(12px)
  .advantage_item
    width: 250px
    height: 250px
    margin: 0 40px
  .advantage_items
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
  .advantages-container__col-center
    padding-bottom: 35px
  .advantages-container__col-left
    flex-basis: 280px
  .advantages-container__col-right
    flex-basis: 280px
  .functions
    padding: 0
  .advantages
    padding: 190px 0 0 0
  .heading_section
    padding: 15px 0
  .photos
    padding: 0
  .video_full
    padding: 30px 0
  .reviews_slider
    padding: 20px
  .buy__col_right
    flex-basis: calc(100% - 100px)
    padding: 0
    margin-top: 30px
  .steps-item__number
    margin-top: -35px
  .bg-before__footer:after
    top: -1px
  .footer__container
    padding: 40px 35px 0
    flex-direction: column
  .footer-logo
    margin: 0 auto
  .footer__contacts
    margin: 15px 0
    width: 100%
  .footer
    padding: 60px 0 40px
  .promo
    height: 680px
  .present-container
    padding-top: 320px
  .reviews, .steps
    padding: 120px 0
  .steps-items
    margin-top: 45px
    grid-gap: 15px
@media only screen and (max-width: 767px)
  .present__emoji
    width: 500px
    height: 405px
  .poem
    display: none
  .subtitle_section
    @include font-size(14px)
  .promo
    background-position: 25% 50%
  .functions_items
    padding: 10px 0
  .functions_item img
    margin-top: 15px
  .advantage_item
    margin: 10px 40px
    height: 300px
    width: 300px
  .advantages-container__col-center
    display: none
  .buy__col_right
    flex-basis: calc(100% - 10px)
  .present-container
    padding-top: 260px
  .questions__item-header
    min-height: auto
    padding-right: 35px
  .subtitle_section
    text-align: center
  .popup-policy
    padding: 10px
  .popup__content
    padding: 20px
  .popup__title
    @include font-size(16px)
  .footer__contacts
    flex-direction: column
  .footer__contacts-header
    margin: 10px 0
  .buy__price_old:before
    margin-top: 7px
@media only screen and (max-width: 700px)
  .footer-logo, .footer__container
    flex-direction: column
    align-items: center
    justify-content: center
  .footer-developer
    margin-top: 15px
  .footer-logo__content
    margin-left: 0
    margin-top: 15px
  .footer-logo__description
    text-align: center
  .footer__policy
    margin: 0 auto
    @include font-size(12px)
    line-height: 18px
@media only screen and (max-width: 580px)
  .reviews_slider
    padding: 0 40px 20px
    margin-top: 25px
  .steps-items
    display: block
    padding: 0 40px 40px
  .slider__arrow
    width: 30px
    height: 30px
  .steps-item__number
    margin-top: -25px
  .steps-item
    margin-top: 15px
    padding: 20px 0
@media only screen and (max-width: 479px)
  .present__emoji
    width: 420px
    height: 345px
    left: -80px
    right: -70px
  .advantage_item
    margin: 10px 20px
    height: 250px
    width: 250px
    @include font-size(12px)
  .present__emoji
    width: 320px
    height: 340px
  .advantages
    padding: 0
  .advantages-container
    margin-top: 10px
  .present__b-title
    @include font-size(50px)
  .steps
    margin-top: 60px
  .buy__col_right
    flex-basis: calc(100% - 1px)
  .buy-inner
    padding: 20px
  .steps-items
    margin: 0
  .questions__item-title
    @include font-size(14px)
  .heading_section
    line-height: 26px
@media only screen and (max-width: 420px)
  body
    @include font-size(12px)
    line-height: 18px
  .header-logo__logo
    max-width: 65px
@media only screen and (max-width: 374px)
  .header-logo__logo
    max-width: 50px
  .header-logo__description
    margin-left: 5px
  .header__container
    padding: 0 5px
@media only screen and (max-width: 360px)
  padding: 0 10px
@media only screen and (max-width: 340px)
  .header-logo__description
    @include font-size(13px)
  .buy__price_old:before
    margin-top: 8px
