  <footer class="footer bg-before__footer bg-after">
    <div class="footer__container">
      <div class="footer-logo">
        <img src="./img/logo.png" alt="Лошадка 3 в 1 Сивка-Бурка" class="footer-logo__logo">
        <div class="footer-logo__content">
          <p class="footer-logo__description">
            Лошадка 3 в 1 «Сивка-Бурка» <br> с доставкой по всей России
          </p>
          <p class="footer__policy open-popup" data-popup="policy">Политика конфиденциальности</p>
        </div>
      </div>
      <div class="footer__contacts">
        <p class="footer__contacts-header">
        Контакты:<br>
        Фактический адрес: 413865, Саратовская область, г.Балаково, ул.Советская, д.65.<br>
        Электронная почта: sivkaburka3v1@gmail.com.<br>
        Телефоны: +7 (495) 627 76 00.
        </p>
        <p class="footer__contacts-requisites">
        Реквизиты:<br>
        ИП Ишкулова Ирина Николаевна.<br>
        ИНН 643920582903 / ОГРНИП 317645100062650.<br>
        Юридический адрес: 413865, г. Балаково, ул. Пролетарская, д. 3, кв.49.<br>
        Тел./факс: +7 (495) 627-76-00.
        </p>
      </div>
      <div class="footer-developer">
        <p class="footer-developer__name">Разработка сайта</p>
        <a href="https://kraiterstudio.ru" target="_blank" class="footer-developer__link">♦ Kraiter Studio ♦</a>
      </div>
    </div>
  </footer>
  <div class="popup popup-policy">
    <div class="popup__content">
      <p class="title heading_section popup__title">Политика конфиденциальности</p>
      <div class="popup-policy__text">
        <p>Данная Политика конфиденциальности применима к данному Сайту. После просмотра данного Сайта обязательно прочитайте текст, содержащий политику конфиденциальности используемого сайта. В случае несогласия с данной Политикой конфиденциальности прекратите использование данного Сайта. Заполнив любую из форм и используя данный Сайт, Вы тем самым выражаете согласие с условиями изложенной ниже Политики конфиденциальности. Сайт охраняет конфиденциальность посетителей сайта. Персональная информация Для того чтобы оказывать вам услуги, отвечать на вопросы, выполнять ваши пожелания и требования требуется такая информация, как ваше имя и номер телефона. САЙТ может использовать указанную информацию для ответов на запросы, а также для связи с Вами по телефону с целью предоставления информации о предлагаемых САЙТ услугах и рекламных кампаниях. При поступлении от вас обращения в виде отправки любой заполненной на сайте формы САЙТ может потребоваться связаться с Вами для получения дополнительной информации, необходимой для вашего обслуживания и ответа на интересующие вопросы. САЙТ обязуется не передавать данную информацию третьим лицам без Вашего разрешения, за исключением информации, необходимой для выполнения вашего обслуживания. Со своей стороны, Вы предоставляете САЙТ право использовать любую сообщѐнную Вами информацию для выполнения указанных выше действий.
        </p>
        <p><b>Безопасность</b><br>Передача персональных данных в любой форме (лично, по телефону или через Интернет) всегда связана с определенным риском, поскольку не существует абсолютно надежных (защищенных от злонамеренных посягательств) систем, однако САЙТ принимает необходимые адекватные меры для минимизации риска и предотвращения несанкционированного доступа, несанкционированного использования и искажения Ваших персональных данных. Несовершеннолетние САЙТ не принимает никакой информации от лиц моложе 18 лет без согласия их родителей или законных опекунов. Кроме того, лица моложе 18 лет не могут совершать каких-либо покупок или иных юридических действий на данном Сайте без согласия родителей или законных опекунов, если это не допускается законодательством Российской Федерации.
        </p>
        <p><b>Модификация</b><br>САЙТ имеет право изменять данную Политику конфиденциальности, изменять и корректировать условия доступа или запрещать доступ к сайту, а также изменять его содержание в любое время без предварительного уведомления.
        </p>
        <p>
          <b>Оплата</b><br>Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
          Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
        </p>
      </div>
    </div>
  </div>
  <div class="schema_need" itemscope itemtype="http://schema.org/LocalBusiness">
    <span itemprop="name">Сивка-Бурка Лошадка 3 в 1</span>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    Адрес:
    <span itemprop="addressLocality">Москва</span>,
  </div>
    <p>Телефон:<span itemprop="telephone" content="+74956277600">+7 495 627–76–00</span></p>
    <time
     itemprop="openingHours"
     datetime="Mo-Su 08:00−21:00">Каждый день с 08.00 до 21.00
    </time>
  </div>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript">
  new WOW().init();
</script>
</body>
</html>
