<header class="header">

  <div class="header__container">
    <a href="#promo" class="header-logo">
      <img src="img/logo.png" alt="" class="header-logo__logo">
      <p class="header-logo__description">Лошадка 3 в 1 «Сивка-Бурка» <br> с доставкой по всей России</p>
    </a>
    <div class="header-menu">
      <ul class="header-menu__list">
        <li class="header-menu__list-item">
          <a href="#promo" class="header-menu__list-link scroll-to">Главная</a>
        </li>
        <li class="header-menu__list-item">
          <a href="#functions" class="header-menu__list-link scroll-to">Функции</a>
        </li>
        <li class="header-menu__list-item">
          <a href="#advantages" class="header-menu__list-link scroll-to">Преимущества</a>
        </li>
        <li class="header-menu__list-item">
          <a href="#testimonials" class="header-menu__list-link scroll-to">Отзывы</a>
        </li>
        <li class="header-menu__list-item">
          <a href="#video_full" class="header-menu__list-link scroll-to">Видео</a>
        </li>
        <li class="header-menu__list-item">
          <a href="#buy" class="header-menu__list-link scroll-to">Заказать</a>
        </li>
        <li class="header-menu__list-item">
          <a href="#questions" class="header-menu__list-link scroll-to">FAQ</a>
        </li>
      </ul>
      <div class="header-socials header-socials_mobile">
        <p class="header-socials__title">Мы в <br> соц сетях</p>
        <div class="header-socials__items">
          <a href="https://www.instagram.com/sivkaburka3v1/" target="_blank" class="header-socials__item header-socials__item_instagram"></a>
          <a href="https://wa.me/79030237900" class="header-socials__item header-socials__item_whatsapp"></a>
          <a href="https://vk.com/sivka_burka3v1" target="_blank" class="header-socials__item header-socials__item_vk"></a>
        </div>
      </div>
      <div class="header-contacts header-contacts_mobile">
        <a href="tel:+74956277600" class="header-contacts__call">
          <b>+7 (495) 627 76 00</b><br>Ежедневно с 8:00 до 21:00
        </a>
      </div>
    </div>
    <div class="header-socials header-socials_desktop">
      <p class="header-socials__title">
        Мы в <br> соц сетях
      </p>
      <div class="header-socials__items">
        <a href="https://www.instagram.com/sivkaburka3v1/" target="_blank" class="header-socials__item header-socials__item_instagram"></a>
        <a href="https://wa.me/79030237900" class="header-socials__item header-socials__item_whatsapp"></a>
        <a href="https://vk.com/sivka_burka3v1" target="_blank" class="header-socials__item header-socials__item_vk"></a>
      </div>
    </div>
    <div class="header-contacts header-contacts_desktop">
      <a href="tel:+74956277600" class="header-contacts__call">
        <b>+7 (495) 627 76 00</b><br>&nbsp;&nbsp;&nbsp;&nbsp;Ежедневно с 8:00 до 21:00
      </a>
    </div>
    <div class="header-menu__open"></div>
  </div>

</header>
