@@include('template/head.html')
@@include('template/header.html')

<section id="promo" class="promo bg-after">
  <div class="container">
    <div class="promo-text__header">
      <h1 class="main_h1">
        <p class="promo-text__heading">Сивка-Бурка</p>
        <p class="promo-text__second-heading">Лошадка 3 в 1</p>
      </h1>
      <p class="promo-text__heading-text">
        лучший друг для ребенка <br>и настоящий помощник маме
      </p>
        <div class="video-promo__view">
          <a href="#video_full" class="video-promo__button-play scroll-to"></a>
          <p class="video-promo__view-timelapse">
            Смотреть видео: 00:59 сек.
          </p>
        </div>
    </div>
  </div>
</section>
<section id="functions" class="functions">
  <div class="container">
    <div class="header_section">
      <h2 class="heading_section">Функции</h2>
      <p class="subtitle_section">Лошадка трансформер Сивка-Бурка имеет 3 положения</p>
    </div>
    <div class="functions_items">
      <div class="functions_item">
        <img src="./img/advantage_horse.png" alt="">
      </div>
      <div class="functions_item">
        <img src="./img/advantage_table.png" alt="">
      </div>
      <div class="functions_item">
        <img src="./img/advantage_chair.png" alt="">
      </div>
    </div>
    <div class="button-container promo__button-container scroll-to" href="#buy-2">
      <div class="button_container">
        <a href="#" class="button button_1 button_orange">
          <span class="button__blik"></span>
          Заказать
        </a>
        <div class="button_container__content">
          <p class="button-container__old-price">10290 руб.</p>
          <p class="button-container__price">8590 руб.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="poem">
  <div class="container">
    <div class="poem__container wow zoomIn animated" data-wow-offset="40" style="visibility: visible; animation-duration: 2s; animation-name: ib;">
      <div class="boy_on_horse__container wow bounceInLeft animated" data-wow-offset="40" style="visibility: visible; animation-duration: 2s; animation-name: n;">
        <img src="./img/boy_on_horse.png" alt="">
      </div>
      <div class="poem_text__container">
        <h3 class="poem_header">Супер Конь!</h3>
        <div class="poem_text_items">
          <p class="poem_text_item">У меня есть верный конь!<br>
                                    Сивка-Бурка, Конь-Огонь!<br>
                                    Скачет, скачет где хочу<br>
                                    От восторга хохочу<br>
                                    <br>
                                    Слез с коня, перевернул,<br>
                                    Превратился конь мой в стул.<br>
                                    Стал большой, мой стул придвинь,<br>
                                    Ем с семьей, а не один.
          </p>
          <p class="poem_text_item">
            Хочешь, партой станет конь,<br>
            Ты его тихонько тронь,<br>
            Вверх ногами положи.<br>
            «Ты супер конь» ему скажи!<br>
            <br>
            Если даже дома тесно,<br>
            Не займет он много места<br>
            Парта, стул, аттракцион<br>
            Прослужит мне до школы он!<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="advantages" class="advantages">
  <div class="container">
    <h2 class="heading_section">Преимущества</h2>
    <div class="advantages-container">
      <div class="advantages-container__col advantages-container__col-left">
        <div class="advantage_items">
          <div class="advantage_item advantage_item_1 wow fadeInUp" data-wow-offset="40" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: kb;">
            <img class="advantage-item__picture lazy loaded" src="./img/antivandal.png" alt="Антивандальная наклейка" data-src="./img/antivandal.png" data-was-processed="true">
            <p class="advantage-item__text">
              Антивандальная высококачественная<br>
              и ламинированная наклейка в виде<br>
              лошадки привлечет<br>
              внимание вашего ребенка<br>
              и сделает лошадку более<br>
              реалистичной и красочной.
            </p>
          </div>
          <div class="advantage_item advantage_item_2 advantage_item__bottom wow fadeInUp" data-wow-offset="40" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: kb;">
            <img class="advantage-item__picture lazy loaded" src="./img/armored.png" alt="Сбалансированная, стойкая, прочная" data-src="./img/armored.png" data-was-processed="true">
            <p class="advantage-item__text">
              Лошадка хорошо проработана,<br>
              можете не волноваться что ребенок<br>
              может перевернуться на<br>
              лошадке-качалке или упасть со<br>
              стульчика для кормления,<br>
              она очень устойчивая и прочная,<br>
              выдерживает вес до 80 кг.
            </p>
          </div>
      </div>
    </div>
    <div class="advantages-container__col advantages-container__col-center">
      <img src="./img/horse_advantage.png" alt="Преимущества лошадки 3 в 1">
    </div>
    <div class="advantages-container__col advantages-container__col-right">
      <div class="advantage_items">
        <div class="advantage_item advantage_item_3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: lb;">
        <img class="advantage-item__picture lazy loaded" src="./img/paint.png" alt="Стойкая ECO краска" data-src="./img/paint.png" data-was-processed="true">
        <p class="advantage-item__text">
          Высококачественное покрытие<br>
          одной из ведущих компаний мира<br>
          Renner, являющийся обладательницей<br>
          европейского сертификата ECO,<br>
          а также имеющей высокую стойкость.
        </p>
      </div>
      <div class="advantage_item advantage_item_4 advantage_item__bottom wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: lb;">
        <img class="advantage-item__picture lazy loaded" src="./img/resistance.png" alt="Устойчивая к внешним воздействиям" data-src="./img/resistance.png" data-was-processed="true">
        <p class="advantage-item__text">
          Покрытие лошадки устойчиво<br>
          к внешним воздействиям, на ней<br>
          можно рисовать, лепить пластелин,<br>
          кушать. Также она легко моется<br>
          от многих видов загрязнений<br>
          таких как фломастер, карандаши и т.д.
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
<section id="photos" class="photos">
  <h2 class="heading_section">Немного фото</h2>
  <div class="photos-items">
    <div class="photos-item"><a href="./img/1.jpg" data-fancybox="photos">
        <div class="photos-item__picture" data-bg="url('./img/1.jpg')" data-was-processed="true" style="background-image: url(./img/1.jpg);"></div>
      </a></div>
    <div class="photos-item"><a href="./img/2.jpg" data-fancybox="photos">
        <div class="photos-item__picture" data-bg="url('./img/2.jpg')" data-was-processed="true" style="background-image: url(./img/2.jpg);"></div>
      </a></div>
    <div class="photos-item"><a href="./img/3.jpg" data-fancybox="photos">
        <div class="photos-item__picture" data-bg="url('./img/3.jpg')" data-was-processed="true" style="background-image: url(./img/3.jpg);"></div>
      </a></div>
    <div class="photos-item"><a href="./img/4.jpg" data-fancybox="photos">
        <div class="photos-item__picture" data-bg="url('./img/4.jpg')" data-was-processed="true" style="background-image: url(./img/4.jpg);"></div>
      </a></div>
    <div class="photos-item"><a href="./img/5.jpg" data-fancybox="photos">
        <div class="photos-item__picture" data-bg="url('./img/5.jpg')" data-was-processed="true" style="background-image: url(./img/5.jpg);"></div>
      </a></div>
    <div class="photos-item"><a href="./img/6.jpg" data-fancybox="photos">
        <div class="photos-item__picture" data-bg="url('./img/6.jpg')" data-was-processed="true" style="background-image: url(./img/6.jpg);"></div>
      </a></div>
  </div>
</section>
<section id="video_full" class="video_full">
  <div class="container">
    <h2 class="heading_section">О Сивке-Бурке</h2>
    <div class="video_full-inner">
      <div class="video_full-inner__inner">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nLPFKrbUP1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="testimonials">
  <div class="container">
    <h2 class="heading_section">Отзывы покупателей</h2>
    <div class="slider reviews_slider">
      <div class="slider__item">
        <a href="./img/r1.png" data-fancybox="reviews_photo">
          <img src="./img/r1.png" alt="">
        </a>
      </div>
      <div class="slider__item">
        <a href="./img/r2.png" data-fancybox="reviews_photo">
          <img src="./img/r2.png" alt="">
        </a>
      </div>
      <div class="slider__item">
        <a href="./img/r3.png" data-fancybox="reviews_photo">
          <img src="./img/r3.png" alt="">
        </a>
      </div>
      <div class="slider__item">
        <a href="./img/r4.png" data-fancybox="reviews_photo">
          <img src="./img/r4.png" alt="">
        </a>
      </div>
      <div class="slider__item">
        <a href="./img/r5.png" data-fancybox="reviews_photo">
          <img src="./img/r5.png" alt="">
        </a>
      </div>
      <div class="slider__item">
        <a href="./img/r6.png" data-fancybox="reviews_photo">
          <img src="./img/r6.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
<section id="buy" class="buy bg-before bg-after">
  <div class="container">
    <div class="buy__container">
      <div class="buy__col buy__col_left">
        <div class="slider buy-slider">
          <div class="buy-slider__slide">
            <div class="buy-slider-item">
              <a href="./img/f2.jpg" data-fancybox="buy">
                <img class="buy-slider-item__picture" src="./img/f2.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="buy-slider__slide">
            <div class="buy-slider-item">
              <a href="./img/f3.jpg" data-fancybox="buy">
                <img class="buy-slider-item__picture" src="./img/f3.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="buy-slider__slide">
            <div class="buy-slider-item">
              <a href="./img/f4.jpg" data-fancybox="buy">
                <img class="buy-slider-item__picture" src="./img/f4.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="slider buy-nav">
          <div class="buy-nav__slide">
            <div class="buy-nav-item">
                <img class="buy-nav-item__picture" src="./img/f2.jpg" alt="">
            </div>
          </div>
          <div class="buy-nav__slide">
            <div class="buy-nav-item">
                <img class="buy-nav-item__picture" src="./img/f3.jpg" alt="">
            </div>
          </div>
          <div class="buy-nav__slide">
            <div class="buy-nav-item">
                <img class="buy-nav-item__picture" src="./img/f4.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="buy-advantages">
          <div class="buy-advantages__item">
            <div class="buy-advantages__item-icon-container">
              <img src="./img/sber.png" alt="Оплата с помощью Сбербанк Онлайн" class="buy-advantages__item-icon buy-advantages__item-icon_1">
            </div>
            <p class="buy-advantages__item-title">Безопасная оплата с помощью Сбербанк Онлайн</p>
          </div>
          <div class="buy-advantages__item">
            <div class="buy-advantages__item-icon-container">
              <img src="./img/delivery_buy.png" alt="Бесплатная доставка по всей России" class="buy-advantages__item-icon buy-advantages__item-icon_1">
            </div>
            <p class="buy-advantages__item-title">Бесплатная доставка по всей РФ курьером или через пункты самовывоза. Доставка и изготовление за 14 дней</p>
          </div>
          <div class="buy-advantages__item">
            <div class="buy-advantages__item-icon-container">
              <img src="./img/5050.png" alt="50% предоплаты, 50% при получении" class="buy-advantages__item-icon buy-advantages__item-icon_1">
            </div>
            <p class="buy-advantages__item-title">Оплачивайте 50% предоплаты и 50% при получении</p>
          </div>
          <div class="buy-advantages__item">
            <div class="buy-advantages__item-icon-container">
              <img src="./img/0012.png" alt="Рассрочка без переплат 0-0-12" class="buy-advantages__item-icon buy-advantages__item-icon_1">
            </div>
            <p class="buy-advantages__item-title">Рассрочка сроком до 12 месяцев без переплат за 857 руб.мес</p>
          </div>
        </div>
      </div>
      <div class="buy__col buy__col_right" id="buy-2">
        <div class="buy-inner">
          <p class="title title_1 buy__title">Заказать<br>Сивку-Бурку</p>
          <div class="buy__prices">
            <p class="buy__price buy__price_new">8590Р</p>
            <p class="buy__price buy__price_old">10290Р</p>
          </div>
          <div class="buy-colors">
            <p class="buy-colors__items">Выберите цвет:</p>
            <div class="buy-colors__title">
              <div class="buy-colors__items">
                <div class="buy-colors__item buy-colors__item_blue" data-color="blue"></div>
                <div class="buy-colors__item buy-colors__item_pink" data-color="pink"></div>
              <!--  <div class="buy-colors__item buy-colors__item_white" data-color="white"></div>-->
              </div>
            </div>
          </div>
          <div class="form-inner buy-form__inner">
            <p class="form__title form__title_orange">Заполните форму, чтобы оставить заявку или оплатите онлайн</p>
            <p class="form__description form__description_orange">Для покупки по 50% предоплате или покупки в рассрочку, оставьте заявку и мы свяжемся с вами
            чтобы уточнить детали</p>
            <form id="mailForm" class="form buy-form" novalidate="novalidate">
              <div class="form__field">
                <label class="form__label">Введите Ваше имя</label>
                <input id="name" class="form__input form__input_name" name="name" type="text" placeholder="Ваше имя">
              </div>
              <div class="form__field">
                <label class="form__label">Введите контактный телефон</label>
                <input id="phone" class="form__input form__input_phone" name="phone" type="phone" placeholder="+7 (___) ___-__-__">
              </div>
              <div class="form__field">
                <input name="formName" type="hidden" value="Оформить заказ">
                <input id="horse_color" name="formDesc" type="hidden">
                <button type="submit" id="sendMail" class="button button_1 button_orange form__submit">
                  <span class="button__blik"></span>
                    оставить заявку
                </button>
                <p class="buy_or">или</p>
                <a target="_blank" href="https://securepayments.sberbank.ru/shortlink/353waTJ9" class="button button_1 button_orange form__submit">
                  <span class="button__blik"></span>
                    оплатить онлайн
                </a>
                <div class="form__policy">
                  <input class="form__radio" name="checkbox" type="checkbox" id="radio-1" checked="">
                  <label class="form__radio-label" for="radio-1">
                    <p class="form__policy-text">Я принимаю условия <span class="open-popup" data-popup="policy">передачи информации</span></p>
                  </label>
                </div>
              </div>
            </form>
            <div id="errorMess" class="errorMess"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="present" class="present">
  <div class="container">
    <div class="present-container">
      <div class="present__emoji"></div>
      <div class="present-inner">
        <div class="present-inner__content">
          <p class="title title_1 present_title">И забот</p>
          <p class="title title_1 present__b-title">Как не бывало</p>
          <div class="present__text">
            <p>
              Три функциональных предмета детской мебели в одном! Миниатюрный стульчик
              для кормления придётся по вкусу каждой мамочке и конечно же малышу!
              В стуле для кормления предусмотрен съемный фиксатор из флисовой ткани.
              В нашей парте стульчик встроен, а полозья лошадки
              служат бортиками, фиксирующими малыша.
              С Сивкой-Буркой мамочке не придётся так пристально следить за малышом
              и постоянно поднимать предметы, упавшие со стола (карандаши, пластилин и др.)
              Ну и конечно же лучший друг вашей крохи - лошадка - качалка!
              Малыш день за днем будет радоваться этой замечательной игрушке,
              качаясь на ней кроха разовьет в себе воображение и вестибулярный аппарат.
              <br><br>Для мамы и малыша с любовью, заботой и вниманием!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="steps" class="steps bg-before bg-after">
  <div class="container">
    <p class="heading_section steps__title">Сделать заказ легко</p>
    <div class="slider steps-items">
      <div class="steps-item">
        <div class="steps-item__number">01</div>
        <div class="steps-item__picture-container">
          <img src="./img/z1.png" alt="Оставить заявку" class="steps-item__picture">
        </div>
        <p class="title steps-item__title">
          Заявка или<br>звонок
        </p>
        <p class="steps-item__description">
          Вы оставляете заявку, менеджер
          перезвонит вам в течении 15 мин.
        </p>
        <button href="#buy-2" class="button button_m button_orange steps-item__button scroll-to">
          <span class="button__blik"></span>
          Оставить заявку
        </button>
      </div>
      <div class="steps-item">
        <div class="steps-item__number">02</div>
        <div class="steps-item__picture-container">
          <img src="./img/z2.png" alt="Детали доставки" class="steps-item__picture">
        </div>
        <p class="title steps-item__title">
          Уточнение деталей<br>доставки
        </p>
        <p class="steps-item__description">
          После оплаты менеджер свяжется
          с вами для уточнения сроков и
          места доставки
        </p>
      </div>
      <div class="steps-item">
        <div class="steps-item__number">03</div>
        <div class="steps-item__picture-container">
          <img src="./img/z3.png" alt="Изготовление и доставка" class="steps-item__picture">
        </div>
        <p class="title steps-item__title">
          Изготовление и <br>доставка
        </p>
        <p class="steps-item__description">
          Доставка по всей России курьером
          или в пунктах самовывоза.
          Изготовление и доставка занимают
          не более 14 дней
        </p>
      </div>
      <div class="steps-item">
        <div class="steps-item__number">04</div>
        <div class="steps-item__picture-container">
          <img src="./img/z4.png" alt="Получение и сборка" class="steps-item__picture">
        </div>
        <p class="title steps-item__title">
          Получение<br>и сборка
        </p>
        <p class="steps-item__description">
          Вы получаете свою лошадку
          Сивку-Бурку, собираете её по
          инструкции в упаковке или
          с помощью видео
        </p>
      </div>
    </div>
  </div>
</section>
<section id="questions" class="questions">
  <div class="container">
    <div class="questions__container">
      <div class="questions__col questions__col_left">
          <p class="title title_1 questions__title">Часто задаваемые<br> вопросы</p>
          <div class="questions__items">
            <div class="questions__item">
              <div class="questions__item-header">
                <p class="questions__item-title">Как происходит оплата?</p>
                <i class="questions__item-arrow"></i>
              </div>
              <div class="questions__item-body">
                <p class="questions__item-answer">Способы оплаты:<br>
                  <br>
                  Предоплата 50% и 50% при получении<br>
                  Чтобы оплатить двумя частями, оставьте заявку мы свяжемся с вами, направим вам счет на оплату 50%, а остальные 50% вы сможете оплатить при получении в точках самовывоза, либо курьеру на руки.<br>
                  <br>
                  Банковской картой<br>
                  Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку Оплатить онлайн. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:<br>
                  <br>
                    <img src="./img/mir.png" alt="Карта МИР">
                    <img src="./img/visa.png" alt="Карта VISA">
                    <img src="./img/mastercard.png" alt="Карта MasterCard">
                    <img src="./img/jcb.png" alt="Карта JCB">
                </p>
              </div>
            </div>
            <div class="questions__item">
              <div class="questions__item-header">
                <p class="questions__item-title">Какие у меня гарантии что товар прийдет?</p>
                <i class="questions__item-arrow"></i>
              </div>
              <div class="questions__item-body">
                <p class="questions__item-answer">Ваш товар будет отслеживаться у логистической компании СДЭК, а также мы пришлем вам фото и чек об отправке</p>
              </div>
            </div>
            <div class="questions__item">
              <div class="questions__item-header">
                <p class="questions__item-title">Есть ли гарантия на ваш товар?</p>
                <i class="questions__item-arrow"></i>
              </div>
              <div class="questions__item-body">
                <p class="questions__item-answer">Мы предоставляем гарантию 12 месяцев на заводской брак, который влияет на комфортное использование товара</p>
              </div>
            </div>
            <div class="questions__item">
              <div class="questions__item-header">
                <p class="questions__item-title">Имеются ли другие цветовые решения?</p>
                <i class="questions__item-arrow"></i>
              </div>
              <div class="questions__item-body">
                <p class="questions__item-answer">Вы можете выбрать любой цвет из цветовой палитры RAL и мы изготовим в нём индивидуально для вас бесплатно</p>
              </div>
            </div>
            <div class="questions__item">
              <div class="questions__item-header">
                <p class="questions__item-title">Как осуществляется доставка?</p>
                <i class="questions__item-arrow"></i>
              </div>
              <div class="questions__item-body">
                <p class="questions__item-answer">Мы отправляем упакованный товар фирмой СДЭК до ближайшей к вам точке выдачи, либо курьером по городу</p>
              </div>
            </div>
            <div class="questions__item">
              <div class="questions__item-header">
                <p class="questions__item-title">Как стать вашим партнером?</p>
                <i class="questions__item-arrow"></i>
              </div>
              <div class="questions__item-body">
                <p class="questions__item-answer">Позвоните нам по телефону горячей линии и скажите о том что хотите сотрудничать с нами, мы расскажем все условия</p>
              </div>
            </div>
        </div>
      </div>
      <div class="questions__col questions__col_right">
        <div class="questions-inner">
          <div class="form-inner">
            <p class="form__title form__title_l">Остались еще вопросы?</p>
            <p class="form__description">Оставьте свои контактные данные и мы свяжемся с вами</p>
            <form id="mailForm_bottom" class="form buy-form" novalidate="novalidate">
              <div class="form__field">
                <label class="form__label form__label_black">Введите Ваше имя</label>
                <input id="name_bottom" type="text" name="name" class="form__input form__input_name" placeholder="Ваше имя">
              </div>
              <div class="form__field">
                <label class="form__label form__label_black">Введите контактный телефон</label>
                <input id="phone_bottom" class="form__input form__input_phone" name="phone" type="phone" placeholder="+7 (___) ___-__-__">
              </div>
              <div class="form__field">
                <input name="formName" type="hidden" value="Вопросы">
                <input name="formDesc" type="hidden" value="">
                <button type="submit" id="sendMail_bottom" class="button button_orange button_l form__submit">
                  <span class="button__blik"></span>
                    Перезвоните мне
                </button>
                <div class="form__policy">
                  <input class="form__radio" name="checkbox" type="checkbox" id="radio-2" checked="">
                  <label class="form__radio-label" for="radio-2">
                    <p class="form__policy-text form__policy-text_black">Я принимаю условия <span class="open-popup" data-popup="policy">передачи информации</span></p>
                  </label>
                </div>
              </div>
            </form>
            <div id="errorMess_bottom" class="errorMess"></div>
          </div>
        </div>
      </div>
  </div>
</section>
@@include('template/footer.html')
